/api/api.iml
/common/common.iml
/.idea/compiler.xml
/.idea/encodings.xml
/framework-core/framework-core.iml
/.idea/jarRepositories.xml
/mapper/mapper.iml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_alibaba_csp_sentinel_annotation_aspectj_1_6_2.xml
/.idea/libraries/Maven__com_alibaba_csp_sentinel_core_1_8_0.xml
/.idea/libraries/Maven__com_alibaba_druid_1_1_22.xml
/.idea/libraries/Maven__com_alibaba_druid_spring_boot_starter_1_1_22.xml
/.idea/libraries/Maven__com_alibaba_fastjson_1_2_69.xml
/.idea/libraries/Maven__com_baomidou_dynamic_datasource_spring_boot_starter_3_1_1.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_3_4_0.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_annotation_3_4_0.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_boot_starter_3_4_0.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_core_3_4_0.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_extension_3_4_0.xml
/.idea/libraries/Maven__com_carrotsearch_java_sizeof_0_0_5.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_0.xml
/.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_2_0.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_5_1_11.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_spring_boot_autoconfigure_1_2_13.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_spring_boot_starter_1_2_13.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_29_0_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/.idea/libraries/Maven__com_netflix_archaius_archaius_core_0_7_6.xml
/.idea/libraries/Maven__com_netflix_hystrix_hystrix_core_1_5_18.xml
/.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_14_9.xml
/.idea/libraries/Maven__com_squareup_okio_okio_1_17_2.xml
/.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_8.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
/.idea/libraries/Maven__commons_cli_commons_cli_1_2.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_14.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/.idea/libraries/Maven__commons_configuration_commons_configuration_1_8.xml
/.idea/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_4.xml
/.idea/libraries/Maven__commons_io_commons_io_2_2.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__commons_validator_commons_validator_1_6.xml
/.idea/libraries/Maven__io_github_openfeign_feign_core_10_10_1.xml
/.idea/libraries/Maven__io_github_openfeign_feign_hystrix_10_10_1.xml
/.idea/libraries/Maven__io_github_openfeign_feign_okhttp_11_0.xml
/.idea/libraries/Maven__io_github_openfeign_feign_slf4j_10_10_1.xml
/.idea/libraries/Maven__io_github_openfeign_form_feign_form_3_8_0.xml
/.idea/libraries/Maven__io_github_openfeign_form_feign_form_spring_3_8_0.xml
/.idea/libraries/Maven__io_micrometer_micrometer_core_1_5_1.xml
/.idea/libraries/Maven__io_netty_netty_all_4_1_50_Final.xml
/.idea/libraries/Maven__io_netty_netty_tcnative_boringssl_static_2_0_31_Final.xml
/.idea/libraries/Maven__io_reactivex_rxjava_1_3_8.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
/.idea/libraries/Maven__junit_junit_4_13.xml
/.idea/libraries/Maven__ma_glasnost_orika_orika_core_1_5_4.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_20.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_11.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_11.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml
/.idea/libraries/Maven__org_apache_commons_commons_pool2_2_8_0.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_12.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_13.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_jul_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_acl_4_6_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_client_4_6_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_common_4_6_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_logging_4_6_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_remoting_4_6_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_spring_boot_2_1_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_spring_boot_starter_2_1_0.xml
/.idea/libraries/Maven__org_apache_rocketmq_rocketmq_srvutil_4_6_0.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_36.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_36.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_aspectj_aspectjrt_1_9_5.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_5.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_16_1.xml
/.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_64.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_64.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_2_11_1.xml
/.idea/libraries/Maven__org_codehaus_janino_commons_compiler_3_1_2.xml
/.idea/libraries/Maven__org_codehaus_janino_janino_3_1_2.xml
/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_2.xml
/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_1_5_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_6_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_6_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_6_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_6_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_6_2.xml
/.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_6_2.xml
/.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/.idea/libraries/Maven__org_mockito_mockito_core_3_3_3.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_3_3.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_5_1.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_2_0_1.xml
/.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_2_0_1.xml
/.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_starter_2_0_1.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_configuration_processor_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_redis_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_log4j2_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_commons_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_context_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_archaius_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_ribbon_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_openfeign_core_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_openfeign_2_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_keyvalue_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_redis_2_3_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_3_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_9_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_messaging_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_oxm_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_7_RELEASE.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_26.xml
/.idea/libraries/Maven__redis_clients_jedis_3_3_0.xml
/.idea/misc.xml
/.idea/modules.xml
/my-framework.iml
/pojo/pojo.iml
/service/service.iml
/.idea/workspace.xml

# Project exclude paths
/api/target/
/common/target/
/framework-core/target/
/mapper/target/
/pojo/target/
/service/target/
/service/logs/
